/* line 1, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_avatar.scss */
.avatar {
  border-radius: 100px;
  width: 30px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
/* line 13, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_avatar.scss */
.avatar--big {
  width: 10rem !important;
  height: 10rem !important;
  border-radius: 100rem;
}
/* line 3, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_button.scss */
.button {
  width: 15rem;
  align-self: flex-end;
  margin-top: 1rem;
  font-size: 1.4rem;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
}
/* line 10, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_button.scss */
.button--big {
  padding: 1.5rem 2.5rem;
  font-size: 1.6rem;
  font-weight: bold;
}
/* line 16, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_button.scss */
.button--primary {
  background: #4379FF;
  color: white;
}
/* line 21, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_button.scss */
.button--error {
  background: #C52D2D;
  color: white;
}
/* line 26, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_button.scss */
.button--secondary {
  background: #092540;
  color: white;
}
/* line 31, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_button.scss */
.button--pill {
  border-radius: 50rem;
}

/* line 38, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_button.scss */
button {
  border: none;
  background: none;
  cursor: pointer;
}
/* line 43, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_button.scss */
button:focus, button:active {
  outline: none;
}
@media screen and (max-width: 450px) {
  /* line 5, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_dialog.scss */
  .dialog body {
    height: 100%;
  }
  /* line 9, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_dialog.scss */
  .dialog__content {
    width: 100% !important;
    height: 100% !important;
    padding: 1rem !important;
    border-radius: 0 !important;
  }
}
/* line 17, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_dialog.scss */
.dialog--disabled {
  visibility: hidden;
  transition: 300ms;
}
/* line 22, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_dialog.scss */
.dialog__container {
  overscroll-behavior: contain;
  width: 100%;
  height: 100%;
  position: fixed;
  border: none;
  z-index: 2000;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 36, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_dialog.scss */
.dialog__container--low {
  overscroll-behavior: contain;
  width: 100%;
  max-height: 70%;
  position: fixed;
  border: none;
  z-index: 2000;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 51, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_dialog.scss */
.dialog__content {
  padding: 2rem;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  border-radius: 0.4rem;
  background-color: #fff;
  pointer-events: auto;
}
/* line 1, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_input.scss */
input {
  border: none;
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 4rem;
  font-size: 1.5rem;
  width: 100%;
  padding: 0 1.2rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
/* line 20, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_input.scss */
input:active, input:focus {
  border-radius: 0.5rem;
}

/* line 26, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_input.scss */
textarea {
  border: none;
  height: 20rem;
  font-size: 1.5rem;
  width: 100%;
  padding: 1.2rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
/* line 44, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_input.scss */
textarea:active, textarea:focus {
  border-radius: 0.5rem;
}

/* line 50, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_input.scss */
label {
  font-size: 1.2rem;
  color: #092540;
  margin-bottom: 0.5rem;
}
/* line 1, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_input.scss */
input {
  border: none;
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 4rem;
  font-size: 1.5rem;
  width: 100%;
  padding: 0 1.2rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
/* line 20, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_input.scss */
input:active, input:focus {
  border-radius: 0.5rem;
}

/* line 26, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_input.scss */
textarea {
  border: none;
  height: 20rem;
  font-size: 1.5rem;
  width: 100%;
  padding: 1.2rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
/* line 44, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_input.scss */
textarea:active, textarea:focus {
  border-radius: 0.5rem;
}

/* line 50, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_input.scss */
label {
  font-size: 1.2rem;
  color: #092540;
  margin-bottom: 0.5rem;
}

/* line 3, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_button.scss */
.button {
  width: 15rem;
  align-self: flex-end;
  margin-top: 1rem;
  font-size: 1.4rem;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
}
/* line 10, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_button.scss */
.button--big {
  padding: 1.5rem 2.5rem;
  font-size: 1.6rem;
  font-weight: bold;
}
/* line 16, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_button.scss */
.button--primary {
  background: #4379FF;
  color: white;
}
/* line 21, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_button.scss */
.button--error {
  background: #C52D2D;
  color: white;
}
/* line 26, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_button.scss */
.button--secondary {
  background: #092540;
  color: white;
}
/* line 31, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_button.scss */
.button--pill {
  border-radius: 50rem;
}

/* line 38, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_button.scss */
button {
  border: none;
  background: none;
  cursor: pointer;
}
/* line 43, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_button.scss */
button:focus, button:active {
  outline: none;
}

/* line 1, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_avatar.scss */
.avatar {
  border-radius: 100px;
  width: 30px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
/* line 13, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_avatar.scss */
.avatar--big {
  width: 10rem !important;
  height: 10rem !important;
  border-radius: 100rem;
}

@media screen and (max-width: 450px) {
  /* line 5, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_dialog.scss */
  .dialog body {
    height: 100%;
  }
  /* line 9, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_dialog.scss */
  .dialog__content {
    width: 100% !important;
    height: 100% !important;
    padding: 1rem !important;
    border-radius: 0 !important;
  }
}
/* line 17, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_dialog.scss */
.dialog--disabled {
  visibility: hidden;
  transition: 300ms;
}
/* line 22, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_dialog.scss */
.dialog__container {
  overscroll-behavior: contain;
  width: 100%;
  height: 100%;
  position: fixed;
  border: none;
  z-index: 2000;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 36, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_dialog.scss */
.dialog__container--low {
  overscroll-behavior: contain;
  width: 100%;
  max-height: 70%;
  position: fixed;
  border: none;
  z-index: 2000;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 51, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/components/_dialog.scss */
.dialog__content {
  padding: 2rem;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  border-radius: 0.4rem;
  background-color: #fff;
  pointer-events: auto;
}

/* line 7, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/index.scss */
:root {
  font-size: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}

/* line 13, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/index.scss */
textarea {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

/* line 18, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/index.scss */
body {
  margin: 0;
  background: #F7FAFC;
}

/* line 24, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/index.scss */
a {
  text-decoration: none;
  color: #4379FF;
}

/* line 29, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/index.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 4, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/pages.scss */
p {
  font-size: 2rem;
  text-align: center;
}

/* line 9, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/pages.scss */
.page {
  padding-top: 4rem;
}

/* line 15, /Users/arifmohammad/code/NinthAutumn/projects/rails_vue_app/app/assets/stylesheets/pages.scss */
.logo {
  font-size: 2rem;
  cursor: pointer;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

