
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background:#F7FAFC;padding:10px;">
    <header style="font-size:12px;font-family:arial;">Subject: <%= @subject  %> </header>
    <div style="background:white;margin:10px 0;padding:1rem;width:100%;box-shadow:0 30px 60px -12px rgba(50, 50, 93, 0.25),0 18px 36px -18px rgba(0, 0, 0, 0.3);border-radius:5px;box-sizing:border-box;">
      <h1 style="color:#4379FF;font-family:arial;text-align:center;font-size:20px;"> Contacted from Contact Form</h1>
      <p style="padding:1rem;background:#F7FAFC;border-radius:5px;color: #092540;font-family:arial;font-weight:bold;"> <%= @content  %> </p>
    </div>
    <footer  style="font-size:12px;font-family:arial;">
      Car Park copyright
    </footer>
  </body>
</html>