// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


:root {
  font-size: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}

body{
  margin:0;
}